In [7]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
file_path = 'C:\多元线性回归.csv'
data = pd.read_csv(file_path)
data.head()

        y    x1     x2     x3
0  157.06  1.57  18.34  10.95
1  172.85  2.74  18.38  10.89
2  175.64  3.44  14.60  12.76
3  165.57  1.16  16.50  13.74
4  231.28  8.54  15.23  14.06

In [8]:
data.describe()

                y        x1         x2         x3
count   25.000000  25.00000  25.000000  25.000000
mean   184.374800   5.18640  15.867200  10.847600
std     36.827332   2.70485   2.850097   2.468372
min    104.760000   1.16000  10.140000   5.190000
25%    159.500000   3.08000  14.480000  10.060000
50%    190.370000   4.68000  16.500000  10.890000
75%    205.710000   8.54000  18.340000  12.760000
max    239.930000   9.24000  19.230000  14.420000

In [9]:
X = data[['x1','x2','x3']]
y = data['y']

In [10]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2,random_state = 42)

In [11]:
model = LinearRegression()
model.fit(X_train,y_train)
y_pred = model.predict(X_test)

In [12]:
mse = mean_squared_error(y_test,y_pred)
print("均方误差(MSE):",mse)

均方误差(MSE): 10.128126934862985